body {
    font-family: 'Poppins-Medium', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

header {
    height: 100vh;
}

.grid__container {
    margin: 0px 20vw;
    height: 100%;
}

.navpanel {
    width: 100%;
    background-color: #ba0000;
    height: 5vh;
    color: #fff;
}

.nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.nav__item {
    font-size: 18px;
    padding: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__item a {
    color: #fff;
}

.nav__item a i {
    font-size: 15px;
}

.nav__item a:hover {
    color: #ffcc00;
    font-size: 19px;
    transition: all 0.5s ease-out;
}

.nav__item div:not(:last-child) {
    margin: 0 0.5em;
}

.main__menu {
    height: 10vh;
    background-color: #ffcc00;
}

.menu__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu__item {
    color: #ba0000;
    font-size: 20px;
}

.logo img {
    height: 10vh;
}

.logo img:hover {
    height: 10.5vh;
    transition: all 0.5s ease-out;
}

.menu__item ul li{
    display: inline-block;
    margin: 0 0.5em;
}

.menu__item ul li a {
    color: #ba0000;
}

.menu__item ul li a:hover {
    font-weight: 600;
    border-bottom: 4px solid #ba0000;
    padding-bottom: 3.5vh;
}

.search__btn {
    padding: 2vh;
    font-size: 18px;
    color: #fff;
    background-color: #ba0000;
    border-radius: 45px;
    box-shadow: 0 3px 10px 0px #ba0000;
    cursor: pointer;
}

.search__btn:hover {
    color:#ffcc00;
    font-size: 20px;
    transition: all 1s ease-out;
}

.slider {
    height: 85vh;
    width: 100%;
    background: url('../img/dhl-bg-slider.png') no-repeat center;
    background-size: cover;
}

.slider__cover {
    height: 100%;
    width: 100%;
    background: linear-gradient(-0.4turn, #ba000000, #ba0000);
}

.slider__content {
    padding-top: 20vh;
}

.slider__title {
    margin: 5vh 0;
    position: relative;
}

.slider__title h2 {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

.slider__title::after {
    content: ' ';
    background-color: #ffcc00;
    height: 3px;
    width: 10em;
    padding: 4px;
    position: absolute;
    bottom: -3vh;
    left: 0;
}

.slider__description {
    padding: 1vh 0;
    color: #ffcc00;
    font-size: 2vh;
    font-weight: 500;
    font-family: 'Poppins-Regular', sans-serif;
}

.slider__points {
    margin-top: 2vh;
}

.slider__points ul li {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-right: 4vw;
    text-transform: uppercase;
    position: relative;
}

.slider__points ul li:not(:last-child)::after {
    content:'.';
    color:#ffcc00;
    font-size: 30px;
    position: absolute;
    bottom: 0.3vh;
    right: -2.5vw;
}

.slider__btns {
    padding: 2vh 0;
}

.slider__btns button {
    background: none;
    font-size: 16px;
    color: #fff;
    border: 4px solid #fff;
    padding: 15px 25px;
    margin-right: 2vw;
    text-transform: uppercase;
    border-radius: 45px;
    font-weight: 600;
}

.slider__btns button:hover {
    background: #ffcc00;
    color: #ba0000;
    border-color: #ffcc00;
    box-shadow: 0 3px 5px 0 #ffcc00;
    transition: all 0.5s ease-in-out;
}

/* Main block */

.services {
    width: 100%;
    min-height: 70vh;
    margin-bottom: 0px;
}

.services__content {
    padding: 20vh 0;
}

.services__title {
    color: #ba0000;
    font-size: 50px;
    font-weight: 700;
    position: relative;
}

.services__title::before {
    content: 'Services';
    text-transform: uppercase;
    color: #eeeeee6e;
    position: absolute;
    font-size: 150px;
    bottom: -5vh;
    left: 0;
    z-index: -1;
}

.services__cards {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services__card {
    width: 13vw;
    height: 35vh;
    min-width: 270px;
    position: relative;
    margin-bottom: 2vh;
}

.services__card img {
    width: 100%;
}

.services__card h3 {
    margin-top: 1vh;
    font-size: 20px;
    color: #ba0000;
    font-weight: 700;
}

.services__card p {
    margin-top: 1vh;
    font-size: 16px;
    color: rgb(158, 158, 158);
    font-weight: 600;
}

.services__card button {
    background: none;
    margin-top: 1vh;
    font-size: 18px;
    font-weight: 700;
    position:absolute;
    left: 0;
    bottom: 0;
}

.services__card button i {
    color: #ba0000;
}

.services__form {
    background: #ba0000;
    width: 13vw;
    height: 35vh;
    padding: 30px;
    min-width: 270px;
    margin-bottom: 2vh;
}

.services__form h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}

.services__form h3:after {
    content: ' ';
    background: #ffcc00;
    width: 4vw;
    height: 3px;
    position: absolute;
    bottom: -3.5vh;
    left: 0;
}

.services__form p {
    margin-top: 6vh;
    color: #fff;
    font-size: 16px;
}

.form__filter {
    margin-top: 4vh;
    /* padding: 5px; */
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    height: 40px;
    background: #880101;
    cursor: pointer;
}
.form__filter span {
    margin: 8px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.form__filter button {
    height: 100%;
    width: 2vw;
    background: #ffcc00;
    color: #ba0000;
}

.services__form >button {
    margin-top: 5vh;
    padding: 15px 45px;
    background: #ffcc00;
    color: #ba0000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 45px;
}

.about {
    height: 80vh;
    width: 100%;
    background: url('../img/about/about-bg.png') no-repeat;
    background-size: cover;
    position: relative;
    /* padding: 20vh; */
}

.about__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffcc0000, #ffcc00);
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    margin-top: 20vh;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 5vh;
}

.about__button button {
    padding: 0.3vh;
    border-radius: 60px;
    font-size: 18px;
    width: 70px;
    height: 70px;
    background: #ffcc00;
    box-shadow: 0 0 10px 2px #ffcc00;
    color: #ba0000;
}

.about__button button:hover {
    font-size: 20px;
    background: #fac800;
    transition: all 0.5s ease-out;
}

.about__cards-wrapper {
    margin-top: 24.7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about__card {
    width: 370px;
    min-height: 380px;
    background: #fff;
    /* border: 1px solid #dfdfdf; */
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.233);
}
.about__card img {
    width: 370px;
    max-height: 200px;
}

.card__content {
    padding: 1em 1em;
    /* margin-bottom: 20px; */
}

.card__content h3 {
    color: #ba0000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card__content i {
    color: #ba0000;
}

.card__content ul li {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #acacac;
}

.card__content ul li i {
    color:#ffcc00;
}

.client__body {
    width: 100%;
    min-height: 85vh;
    padding-top: 19vh;
}

.client__wrapper {
    padding-top: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.client__form {
    min-height: 50vh;
    width: 25vw;
    background-color: #ba0000;
}

.client_form_top-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client_form_top-btns button {
    display: block;
    width: 50%;
    height: 5vh;
    background-color: #ba0000;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}

.client_form_top-btns button.active {
    background-color: #ffcc00;
    color: #ba0000;
    box-shadow: 0px 2px 4px 0px #ffcc00;
}

.client_form_content {
    border: 1px solid #ffcc00;
    margin: 2em;
}